        {% for portfolio in site.portfolio %}
        <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">{{ portfolio.title }}</h2>
                                    <p class="item-intro text-muted">{{ portfolio.subtitle }}</p>
                                    {% if portfolio.img -%}<img class="img-fluid d-block mx-auto lazy-modal" data-src="assets/images/portfolio/{{ portfolio.img }}" alt="{{ portfolio.img_alt }}" />{% endif -%}
                                    {% if portfolio.youtubeId -%}{% include youtubePlayer.html id=portfolio.youtubeId starttime=portfolio.youtubeTime %}{% endif -%}
                                    {{ portfolio.content }}
                                    <ul class="list-inline">
                                        <li><strong>Date:</strong> {{ portfolio.human-date }}</li>
                                        <li><strong>Company:</strong> {{ portfolio.company }}</li>
                                        <li><strong>Category:</strong> {{ portfolio.category }}</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}