        {% for portfolio in site.portfolio %}
        <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img data-src="assets/images/close-icon.svg" alt="close project details"/></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">{{ portfolio.title }}</h2>
                                    <p class="item-intro text-muted">{{ portfolio.subtitle }}</p>
                                    {% if portfolio.img -%}<img class="img-fluid d-block mx-auto" data-src="assets/images/portfolio/{{ portfolio.img }}" alt="{{ portfolio.img_alt }}" />{% endif -%}
                                    {% if portfolio.youtubeId -%}{% include youtubePlayer.html id=portfolio.youtubeId starttime=portfolio.youtubeTime%}{% endif -%}
                                    <p>{{ portfolio.content }}</p>
                                    <ul class="list-inline">
                                        <li>Date: {{ portfolio.human-date }}</li>
                                        <li>Company: {{ portfolio.company }}</li>
                                        <li>Category: {{ portfolio.category }}</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}