<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    window['ga-disable-{{ site.google.tracking_id }}'] = true;
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "{{ site.data.home.cookie-consent.popup.background }}"
            },
            "button": {
                "background": "{{ site.data.home.cookie-consent.button.background }}",
                "hover": "{{ site.data.home.cookie-consent.button.hover }}",
                "text": "{{ site.data.home.cookie-consent.button.text }}"
            }
        },
        "theme": "classic",
        "position": "bottom-right",
        "type": "opt-in",
        "content": {
            "message": "{{ site.data.home.cookie-consent.message }}"
        },
        onInitialise: function (status) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (type == 'opt-in' && didConsent) {
                window['ga-disable-{{ site.google.tracking_id }}'] = false;
            }
            if (type == 'opt-out' && !didConsent) {
                window['ga-disable-{{ site.google.tracking_id }}'] = true;
            }
            dataLayer.push({event: 'pageview'});
        },
        onStatusChange: function(status, chosenBefore) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (type == 'opt-in' && didConsent) {
                window['ga-disable-{{ site.google.tracking_id }}'] = false;
            }
            if (type == 'opt-out' && !didConsent) {
                window['ga-disable-{{ site.google.tracking_id }}'] = true;
            }
            dataLayer.push({event: 'pageview'});
        },
        onRevokeChoice: function() {
            var type = this.options.type;
            if (type == 'opt-in') {
                window['ga-disable-{{ site.google.tracking_id }}'] = true;
            }
            if (type == 'opt-out') {
                window['ga-disable-{{ site.google.tracking_id }}'] = false;
            }
            dataLayer.push({event: 'pageview'});
        },
    });
</script>