        <section class="page-section {{ include.bgcolor }}" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">{{ site.data.home.team.heading }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.data.home.team.subheading }}</h3>
                </div>
                <div class="row">
                    {% for member in site.team %}
                    <div class="col-lg-4 mx-auto">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle lazy" data-src="assets/images/team/{{ member.img }}" alt="{{ member.img }}" />
                            <h4>{{ member.name }}</h4>
                            <p class="text-muted">{{ member.title }}</p>
                            <a class="btn btn-dark btn-social mx-2" href="{{ member.twitter }}"><i class="fab fa-twitter"></i></a><a class="btn btn-dark btn-social mx-2" href="{{ member.facebook }}"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="{{ member.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">{{ site.data.home.team.description }}</p></div>
                </div>
            </div>
        </section>