<div class="img-fluid d-block mx-auto" style="position: relative;padding-bottom: 56.25%;height: 0;overflow: hidden;max-width: 100%;margin-bottom: 2rem;">
    <iframe
        style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
        class="lazy-modal"
        data-loader="youtube"
        data-nocookie="1"
        data-src="{{ include.id }}"
        width="700" height="480"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</div>